<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/main">Назад</a>
<br>
<form action="/edit" method="post" th:object="${userEntity}">
    <input type="hidden" name="id" th:value="${user.id}">
    <label for="nick">Ник</label>
    <input type="text" th:field="*{nick}" id="nick" th:value="${user.nick}" required>
    <div th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}">Nick-Error</div>
    <label for="age">Возраст</label>
    <input type="number" th:field="*{age}" id="age" th:value="${user.age}" required>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Nick-Error</div>
    <label for="aboutMe">Обо мне</label>
    <input type="text" th:field="*{aboutMe}" id="aboutMe" th:value="${user.aboutMe}" required>
    <div th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}">Nick-Error</div>
    <label for="git">Гит</label>
    <input type="text" th:field="*{git}" id="git" th:value="${user.git}" required>
    <div th:if="${#fields.hasErrors('git')}" th:errors="*{git}">Nick-Error</div>
    <label for="workHours">Часы работы</label>
    <input type="number" th:field="*{workHours}" id="workHours" th:value="${user.workHours}" required>
    <div th:if="${#fields.hasErrors('workHours')}" th:errors="*{workHours}">Nick-Error</div>
    <input type="submit" value="Изменить">
</form>
</body>
</html>